/* not-found.component.css */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

mat-card-header {
  justify-content: center;
  align-items: center;
}

mat-card {
  padding: 20px;
}
