<h1 mat-dialog-title>{{ this.data ? "Update" : "Add" }} User</h1>
<div mat-dialog-content class="add-dialog">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <mat-form-field class="mat-form-field" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" required />
        <mat-error *ngIf="form.controls['first_name'].invalid">
          First Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" required />
        <mat-error *ngIf="form.controls['last_name'].invalid">
          Last Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="mat-form-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required email />
        <mat-error *ngIf="form.controls['email'].invalid">
          Valid Email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="mat-form-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="form.controls['password'].invalid">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="mat-form-field" appearance="fill">
        <mat-label>Group</mat-label>
        <mat-select formControlName="groups" required>
          <mat-option *ngFor="let group of groupListing" [value]="group">
            {{ group.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['groups'].invalid">
          Group is required
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="mat-form-field"
        appearance="fill"
        *ngIf="form.get('groups')?.value.name === 'Department Employee'"
      >
        <mat-label>Department</mat-label>
        <mat-select formControlName="user_department" required>
          <mat-option
            *ngFor="let department of departments"
            [value]="department"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['user_department'].invalid">
          Department is required
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
