<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    opened
    mode="side"
    [style.width]="sidenavWidth()"
  >
    <app-sidenav [collapsed]="collapsed()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
      </button>
      <p>Hi, {{ this.userName }}</p>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <app-loader *ngIf="loading"></app-loader>
    <div class="router-outlet-container" [class.loading]="loading">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
