mat-toolbar {
  position: relative;
  z-index: 5;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.content {
  padding: 24px;
}

mat-sidenav-container {
  height: 100vh;
}

.sidenav {
  box-shadow: 3px 0 5px -2px rgba(0, 0, 0, 0.2);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 2rem;
}

.mat-divider {
  margin-bottom: 20px;
}
