<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-sidenav [collapsed]="collapsed()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
