/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// .mat-mdc-unelevated-button:not(:disabled) {
//   background-color: orangered !important;
// }

// .mdc-switch:enabled .mdc-switch__track::after {
//   background: orangered !important;
// }

.received-at-dc {
  background-color: #2196f3 !important;
}

.waiting-for-approval {
  background-color: #ff9800 !important;
}

.approved {
  background-color: #10b981 !important;
}

.department-assigned {
  background-color: #8b5cf6 !important;
}

.shipped-to-customer {
  background-color: #14b8a6 !important;
}

.on-hold {
  background-color: #ef4444 !important;
}

.completed {
  background-color: #4caf50 !important;
}
