.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5 rem;
    }

    > p {
      margin: 0;
      font-size: 0.8rems;
    }
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 300px);
}

.menu-item {
  margin-bottom: 10px; /* Adjust the gap between menu items */
}

.logout-item {
  margin-top: auto; /* Pushes the logout item to the bottom */
}

.sidenav {
  box-shadow: 3px 0 5px -2px rgba(0, 0, 0, 0.2);
}
